<div class="col-md-12">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>职缺</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
    </tbody>
  </table>
</div>
